*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: transparent;

}
.login-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    width: 27rem;
    height: 25rem;
    background-color: #d5c5a7;
    color:#fff;
    border-radius: 2em;

}