* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url("../img/landing.jpg");
  height: 100vh;
  background-size: cover;
  background-position: top 47% right;
  color: #41141b;
  overflow: hidden;
}

.parent-div {
  display: flex;
  flex-direction: column;
}

.header-section {
  background: black;
  color: white;
  padding: 13px 13px 13px 30px;
}

#header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: var(--first-color);
}

#header form {
  display: none;
  position: relative;
  text-align: center;
}
#header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}
#header .container:first-of-type(a) {
  height: 100%;
}
#navbar {
  display: none;
  align-items: center;
  justify-content: center;
  text-align: end;
}

.logo {
  max-width: 150px;
}
#navbar li {
  padding: 0 10px;
  position: relative;
}
#navbar li a {
  font-size: 16px;
  font-weight: 600;
  color: var(--second-color);
  transition: var(--transition);
}
#navbar li a::after {
  position: absolute;
  content: "";
  bottom: -4px;
  left: 20px;
  height: 2px;
  width: 0%;
  background-color: var(--second-color);
  transition: var(--transition);
}
#navbar li a.active,
#navbar li a:hover {
  color: var(--second-color);
}
#navbar li a.active::after,
#navbar li a:hover::after {
  width: 30%;
}
#mobile {
  display: block;
}
#mobile nav {
  position: fixed;
  right: -200px;
  top: 50px;
  width: 0px;
  z-index: 1000;
  height: 100%;
  background-color: var(--second-color);
  transition: var(--transition);
}
#mobile nav.open {
  right: 0;
  width: 100%;
}
#mobile nav ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 80px;
}
#mobile nav ul li {
  margin: 15px 0;
  padding-bottom: 20px;
  border-bottom: 1px dotted var(--fifth-color);
  width: 100%;
  text-align: center;
}
#mobile nav ul li a {
  color: var(--main-color);
}
#mobile nav ul li a.active,
#mobile nav ul li a:hover {
  color: var(--first-color);
}
.mobile-only {
  font-size: 25px;
  color: var(--second-color);
  cursor: pointer;
  transition: var(--transition);
}
.stop-scrolling {
  overflow: hidden;
}
@media (max-width: 576px) {
  .logo {
    max-width: 100px;
  }
  .mobile-only {
    font-size: 18px;
  }
}
@media (min-width: 992px) {
  #mobile {
    display: none;
  }
  #navbar {
    display: flex;
  }
  #header form {
    display: flex;
  }
}

.header-text {
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
  font-size: 200%;
}

.vertical-section-holder {
  height: 100%;
  display: flex;
  justify-content: center;
}

.vertical-section-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
  );
}

.vertical-section-2 {
  z-index: 1000;
  position: absolute;
  right: 100px;
  top: 90px;
}
@media (max-width: 576px) {
  .vertical-section-2 {
    right: 16px;
  }
}
.login-signup-holder {
  width: 360px;
}

.forms {
  background: #d5c5a7;
  max-width: 360px;
  padding: 20px 40px;
  text-align: center;
  border-radius: 10px;
}

.forms .heading-text {
  color: #41141b;
  font-size: 30px;
}

.forms input {
  font-family: "Roboto", sans-serif;
  outline: 1px;
  background: white;
  width: 100%;
  border: 0;
  padding: 5px 15px;
  font-size: 14px;
  border-radius: 10px;
}

.forms button {
  font-size: 14px;
  font-weight: 600;
  padding: 7px 20px;
  background: #41141b;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: var(--transition);
}
.password-container {
  display: flex;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
}

.password-container input {
  flex: 1;
  border: none;
  outline: none;
  padding: 5px 15px;
  border-radius: 10px;
}

.password-container button {
  background-color: #5a2e2e;
  color: white;
  border: none;
  padding: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 5px;
  line-height: 1;
}

.password-container button:hover {
  background-color: #875858;
}

.password-container button i {
  font-size: 1.2rem;
}

.forms .message {
  margin: 15px 0 0;
  color: #41141b;
  font-size: 16px;
}

.forms .message a {
  color: #453fcf;
  text-decoration: none;
  font-size: 16px;
}

.forms button:hover,
.forms button:active {
  color: #41141b;
  background-color: #fff;
}

.button:hover,
.button:active {
  color: #41141b;
  background-color: #fff;
}

.forms .login-form {
  display: none;
}

.errors {
  color: rgb(205, 15, 30);
  font-size: 14px;
  font-style: oblique;
  text-align: left;
}

.indicator {
  display: none;
  background-color: #ddd;
  padding: 3px;
  margin-top: 10px;
  border-radius: 5px;
}

.indicator span {
  height: 100%;
  width: 33%;
  background-color: lightgrey;
  border-radius: 5px;
}

.indicator span.active {
  background-color: transparent;
}

.indicator span.weak {
  background-color: red;
}

.indicator span.medium {
  background-color: orange;
}

.indicator span.strong {
  background-color: green;
}

.strength {
  display: none;
  padding: 4px;
  font-size: 14px;
  color: black;
  font-weight: bold;
}

.strength.weak {
  color: red;
}

.strength.medium {
  color: orange;
}

.strength.strong {
  color: green;
}
