* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../img/landing.jpg");
    height: 100vh;
    background-size: cover;
    background-position: left;
    color: #41141b;
    overflow-x: hidden;
}

.parent-div {
    display: flex;
    flex-direction: column;
    height: 150%;
}

.header-section {
    background: black;
    color: white;
    padding: 13px 13px 13px 30px;
}

#header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: var(--first-color);
}

#header form {
  display: none;
  position: relative;
  text-align: center;
}
#header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}
#header .container:first-of-type(a) {
  height: 100%;
}
#navbar {
  display: none;
  align-items: center;
  justify-content: center;
  text-align: end;
}

.logo {
  max-width: 150px;
}
#navbar li {
  padding: 0 10px;
  position: relative;
}
#navbar li a {
  font-size: 16px;
  font-weight: 600;
  color: var(--second-color);
  transition: var(--transition);
}
#navbar li a::after {
  position: absolute;
  content: "";
  bottom: -4px;
  left: 20px;
  height: 2px;
  width: 0%;
  background-color: var(--second-color);
  transition: var(--transition);
}
#navbar li a.active,
#navbar li a:hover {
  color: var(--second-color);
}
#navbar li a.active::after,
#navbar li a:hover::after {
  width: 30%;
}
#mobile {
  display: block;
}
#mobile nav {
  position: fixed;
  right: -200px;
  top: 50px;
  width: 0px;
  z-index: 1000;
  height: 100%;
  background-color: var(--second-color);
  transition: var(--transition);
}
#mobile nav.open {
  right: 0;
  width: 100%;
}
#mobile nav ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 80px;
}
#mobile nav ul li {
  margin: 15px 0;
  padding-bottom: 20px;
  border-bottom: 1px dotted var(--fifth-color);
  width: 100%;
  text-align: center;
}
#mobile nav ul li a {
  color: var(--main-color);
}
#mobile nav ul li a.active,
#mobile nav ul li a:hover {
  color: var(--first-color);
}
.mobile-only {
  font-size: 25px;
  color: var(--second-color);
  cursor: pointer;
  transition: var(--transition);
}
.stop-scrolling {
  overflow: hidden;
}
@media (max-width: 576px) {
  .logo {
    max-width: 100px;
  }
  .mobile-only {
    font-size: 18px;
  }
}
@media (min-width: 992px) {
  #mobile {
    display: none;
  }
  #navbar {
    display: flex;
  }
  #header form {
    display: flex;
  }
}

.header-text {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 200%;
}

.vertical-section-holder {
    height: 100%;
    display: flex;
    justify-content: center;
}

.vertical-section-1 {
    flex: 0.65;
    background-size: cover;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}

.vertical-section-2 {
    flex: 0.35;
}

.login-signup-holder {
    width: 360px;
    padding: 10% 0 0;
    margin: 0 auto;
}

.forms {
    background:  #d5c5a7;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
}

.forms .heading-text {
    padding: 10px;
    color: #41141b;
}

.forms input {
    font-family: "Roboto", sans-serif;
    outline: 1px;
    background: white;
    width: 100%;
    border: 0;
    margin: 15px 0 0 0;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.forms button {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    background:  #41141b;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: var(--transition);
}
.password-container {
  display: flex;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
}

.password-container input {
  flex: 1;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 1rem;
}

.password-container button {
  background-color: #5a2e2e; /* Match your color theme */
  color: white;
  border: none;
  padding: 0 15px;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.password-container button:hover {
  background-color: #875858; 
}

.password-container button i {
  font-size: 1.2rem;
}

  
.forms .message {
    margin: 15px 0 0;
    color: #41141b;
    font-size: 16px;
}

.forms .message a {
    color: #453FCF;
    text-decoration: none;
    font-size: 16px;
}

.forms button:hover, .forms button:active {
    color: #41141b;
    background-color: #fff;
}

.button:hover, .button:active {
    color: #41141b;
    background-color: #fff;
}

.forms .login-form {
    display: none;
}

.errors {
  color: rgb(205, 15, 30);
  font-size: 14px;
  font-style: oblique;
  text-align: left;
}

.indicator {
  display: none;
  background-color: #ddd;
  padding: 3px;
  margin-top: 10px;
  border-radius: 5px;
}

.indicator span {
  height: 100%;
  width: 33%;
  background-color: lightgrey;
  border-radius: 5px;
}

.indicator span.active {
  background-color: transparent;
}

.indicator span.weak {
  background-color: red;
}

.indicator span.medium {
  background-color: orange;
}

.indicator span.strong {
  background-color: green;
}

.strength {
  display: none;
  padding: 4px;
  font-size: 14px;
  color: black;
  font-weight: bold;
}

.strength.weak {
  color: red;
}

.strength.medium {
  color: orange;
}

.strength.strong {
  color: green;
}


.footer {
    font-family: Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
    position: fixed;
    margin-top: 100px;
    left: 0;
    bottom: 0;
    padding: 10px;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}
footer {
    padding-bottom: 12px;
  }
  footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  footer .logo {
    margin-bottom: 30px;
  }
  footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
  }
  footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
  }
  footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
  }
  footer .follow {
    margin-top: 20px;
  }
  footer .follow i {
    cursor: pointer;
    color: var(--first-color);
    font-size: 18px;
    padding-right: 4px;
  }
  footer .install .row img {
    border: 1px solid #777;
    border-radius: 10px;
  }
  footer .install img {
    margin: 10px 0 15px 0;
  }
  footer .follow i:hover,
  footer a:hover {
    color: var(--second-color);
  }
  footer .copyright {
    width: 100%;
    text-align: center;
  }
  footer .copyright span {
    color: var(--first-color);
  }
  
  @media (max-width: 1199px) {
    footer .container {
      gap: 20px;
    }
  }
